body {
	margin: 0 auto 0 auto;
	background-image: url(../images/poker-table-background.jpg);
	background-size: cover;
	background-repeat: repeat;
}

.gameContainer {
	width: 725px;
	margin: 0 auto 0 auto;
}

.player {
	display: inline;
	padding-right: 10px;
	
	width: 300px;
	height: 300px;
}

.card {
	display: inline;
	margin: 0;
	padding-right: 10px;
}

.dealtHand {
	display: inline;
	width: 480px;
}

.outcome {
	float: right;
	font-family: Georgia;
	font-size: 20px; 
	font-weight: bold;
	width: 120px;
	margin-left: 0;
	text-align: center;
	overflow-x: visible;
	display: table-cell;
    vertical-align: middle;
	color:#e50000;
}

.title {
	text-align: center;
	margin: 20px auto 20px auto;
}

.winner {
	width: 100px;
}

.button {
	background-color: #61B329;
	width: 100px;
	height: 50px;
	border: 1px solid black;
	margin-left: 400px;
	margin-right: 400px;
}

.score {
	display: inline-block;
	align: center;
	float: right;
	width: 44%;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 250%;
}

.message {
	color:red;
	text-align:center;
}